<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= company.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">CEP:</strong>
    <%= company.zipcode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Endereço:</strong>
    <%= company.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Número:</strong>
    <%= company.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bairro:</strong>
    <%= company.neighborhood %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= company.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 read">Estado:</strong>
    <%= company.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descrição:</strong>
    <%= company.description %>
  </p>

</div>
