<div data-controller="map" style="position: relative; z-index: 1;">

  <%= form_with(model: company, class: "contents") do |form| %>
    <% if company.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
          <% company.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name, "Nome da empresa" %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :category_id, "Categoria" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Selecione uma categoria" }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"} %>
    </div>

    <div class="my-5">
      <%= form.label :member_id, "Membro dono ou responsável" %>
      <%= form.collection_select :member_id, Member.all, :id, :name, { prompt: "Selecione uma membro" }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"} %>
    </div>

    <div class="my-5">
      <%= form.label :zipcode, "CEP" %>
      <%= form.text_field :zipcode, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :address_map, "Endereço" %>
      <%= form.text_field :address_map, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", readonly: true %>
    </div>

    <div class="my-5">
      <%= form.label :number, "Número" %>
      <%= form.text_field :number, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :neighborhood, "Bairro" %>
      <%= form.text_field :neighborhood, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", readonly: true %>
    </div>

    <div class="my-5">
      <%= form.label :complement, "Complemento" %>
      <%= form.text_field :complement, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <h4>Digite o endereço para mostrá-lo no mapa:</h4>

    <div data-map-target="container" style="min-height: 300px"></div>

    <%= form.hidden_field :address, data: {"map-target": "address"} %>
    <%= form.hidden_field :latitude, data: {"map-target": "latitude"} %>
    <%= form.hidden_field :longitude, data: {"map-target": "longitude"} %>

    <div class="my-5">
      <%= form.label :city, "Cidade" %>
      <%= form.text_field :city, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", readonly: true %>
    </div>

    <div class="my-5">
      <%= form.label :state, "Estado" %>
      <%= form.text_field :state, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", readonly: true %>
    </div>

    <div id="mb-3">
      <%= form.fields_for :phones do |phones_fields| %>
        <%= render partial: "phone_fields", locals: { f: phones_fields } %>
      <% end %>    
      <div class="field">
        <%= link_to_add_association("Adicionar Telefone", form, :phones, class: "bg-green-400 text-white rounded-lg py-2 px-4") %>
      </div>
    </div>

    <div class="my-5">
      <%= form.label :description, "Descrição" %>
      <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex justify-between items-center mt-5">
      <%= form.submit company.persisted? ? "Editar empresa" : "Cadastrar empresa", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700" %>
      <%= link_to "Voltar para empresas", companies_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:text-blue-800" %>
    </div>
  <% end %>
</div>
