<!DOCTYPE html>
<html>
  <head>
    <title>CompaniesCanaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('cropped-fav-32x32.png') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />

    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />

    <%= javascript_include_tag 'zipcode_autocomplete' %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-gray-100">
    <% if user_signed_in? %>
      <nav class="fixed top-0 left-0 w-full bg-white text-gray-700 shadow-lg z-50" style="height: 80px;">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-full mt-3">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <%= link_to root_path do %>
                  <img src="<%= asset_path('cropped-logo-canaa-2020.png') %>" alt="Empresas dos membros | Canaã" width="187" height="50" />
                <% end %>
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                <%= link_to "Empresas", companies_path, class: "inline-flex items-center px-1 pt-1 pb-1.2 -mb-1.2 border-b-2 border-transparent text-sm font-medium text-[#6a6c74] hover:border-[#1e73be] hover:text-[#1e73be]" %>
                <%= link_to "Membros", members_path, class: "inline-flex items-center px-1 pt-1 pb-1.2 -mb-1.2 border-b-2 border-transparent text-sm font-medium text-[#6a6c74] hover:border-[#1e73be] hover:text-[#1e73be]" %>
                <%= link_to "Categorias", categories_path, class: "inline-flex items-center px-1 pt-1 pb-1.2 -mb-1.2 border-b-2 border-transparent text-sm font-medium text-[#6a6c74] hover:border-[#1e73be] hover:text-[#1e73be]" %>
              </div>
            </div>
            <div class="flex items-center space-x-4">
              <div class="text-sm font-medium">
                <%= current_user.name %>, <%= current_user.email %>
              </div>
              <div>
                <%= form_tag destroy_user_session_path, method: :delete, class: "bg-green-600 hover:bg-green-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer" do %>
                  <%= submit_tag "Sair", class: "btn btn-outline-success cursor-pointer" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="pt-20"></div>
    <% end %>
    <main class="container mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>
